<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <div class="vendors-brand">
      <img src="{{ ( '/Asset 6' | systemSVG ) }}" />
    </div>
    <div class="header-item">
      <a class="col-lg-6 col-md-6 col-xs-6 col-sm-6" (click)="viewProfile()"><i class="zmdi zmdi-hc-2x zmdi-account"></i></a>
      <a class="col-lg-6 col-md-6 col-xs-6 col-sm-6" (click)="signout()"><i class="zmdi zmdi-hc-2x zmdi-time-restore"></i></a>
    </div>

  </div>
</nav>

<div id="search-bar" class="bar">
  <div class="outer" (click)="endSearch()">
    <div class="inner">
      <label>Back</label>
    </div>
  </div>

  <div class="form-wrapper">
    <div class="form-content">
      <input class="search-input" placeholder="Search ..." />
      <span class="info">Hit enter to search</span>
    </div>

  </div>
</div>

