<footer>
    <ul class="footer-item col-centered">
        <li>
            <a>About Makani</a>
        </li>
        <li>
            <a>Contact us</a>
        </li>
        <li>
            <a>Help & FAQ</a>
        </li>
    </ul>

    <ul class="pull-right h-menu">
        <li class="hidden-xs">
            <a><i class="fa fa-ellipsis-v"></i></a>
        </li>
    </ul>
    
    <div class="col-sm-12 col-centered user-avatar">
        <img src="{{ ( '/avatar.png' | baAppPicture ) }}" />
      </div>
      
</footer>

<!-- <nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <div class="col-lg-3 col-md-3 col-xs-5 col-sm-3 vendors-brand vendors-brand">
      <img src="{{ ( '/logo.png' | baAppPicture ) }}" />
    </div>
    <a id="search-item" class="header-item col-lg-7 col-md-6 col-xs-3 col-sm-6" (click)="startSearch()"><i class="zmdi zmdi-hc-2x zmdi-search"></i></a>
    <div class="header-item col-lg-2 col-md-3 col-xs-4 col-sm-3 text-lg-right">
      <a class="col-lg-6 col-md-6 col-xs-6 col-sm-6" (click)="viewProfile()"><i class="zmdi zmdi-hc-2x zmdi-account"></i></a>
      <a class="col-lg-6 col-md-6 col-xs-6 col-sm-6" (click)="signout()"><i class="zmdi zmdi-hc-2x zmdi-time-restore"></i></a>
    </div>

  </div>
</nav>

<div id="search-bar" class="bar">
  <div class="outer" (click)="endSearch()">
    <div class="inner">
      <label>Back</label>
    </div>
  </div>

  <div class="form-wrapper">
    <div class="form-content">
      <input class="search-input" placeholder="Search ..." />
      <span class="info">Hit enter to search</span>
    </div>

  </div>
</div>
 -->


 